<div id="top_device"  data-value="{{ deviceCategory | json_encode }}"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    var deviceCategory = document.getElementById('top_device').getAttribute('data-value');
    deviceCategory = JSON.parse(deviceCategory);

    for (var i = 0; i < deviceCategory.length; i++) {
        deviceCategory[i][1] = parseInt(deviceCategory[i][1]);
    }

    deviceCategory.unshift(['rubrik1', 'rubrik2']);
    console.log('hej!', deviceCategory);

    function drawChart() {

        var data = google.visualization.arrayToDataTable(deviceCategory

            /*[
                        ['Task', 'Hours per Day'],
                        ['Work',     11],
                        ['Eat',      2],
                        ['Commute',  2],
                        ['Watch TV', 2],
                        ['Sleep',    7]
                    ]*/
        );

        var options = {
            title: 'Device usage',
            titleTextStyle: {
                color: "#757575",
                fontName: "Roboto",
                fontSize: 14,
                bold: false,
                italic: false
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById('top_device'));

        chart.draw(data, options);
    }
</script>