<div id="top_pages"></div>
<br>
<input type="button" id="refresh-pages" value="Refresh"></input>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    document.getElementById('refresh-pages').addEventListener('click', refreshWidgetPages)
    function refreshWidgetPages(){

            let xhrpages = new XMLHttpRequest();
            xhrpages.open('GET', '/actions/bjonky/default/pages?numberOfDays={{ numberOfDays }}');
            //xhr.responseType = 'json';
            xhrpages.send();
            xhrpages.onprogress = function () {
                console.log('READYSTATE: ', xhrpages.readyState)
            }
            xhrpages.onload = function() {

                if(this.status == 200) {

                    var popularPage = xhrpages.response;
                    google.charts.load('current', {'packages': ['bar']});
                    google.charts.setOnLoadCallback(drawStuff);
                    console.log(popularPage);

                    popularPage = JSON.parse(popularPage);
                    //console.log(popularPage);
                    for (var i = 0; i < popularPage.length; i++) {

                        popularPage[i][1] = parseInt(popularPage[i][1]);}
                    popularPage.unshift(['Gränssnitt', 14]);
                    popularPage.unshift(['Användare', 24]);
                    popularPage.unshift(['Kommunikation', 6]);
                    popularPage.unshift(['Responsivitet', 64]);
                    popularPage.unshift(['GUI', 84]);
                    popularPage.unshift(['Definitioner', 34]);
                    popularPage.unshift(['', '']);

                    function drawStuff() {
                        var data = new google.visualization.arrayToDataTable(popularPage
                            /*[
                                        ['Move', 'Percentage'],
                                        ["King's pawn (e4)", 44],
                                        ["Queen's pawn (d4)", 31],
                                        ["Knight to King 3 (Nf3)", 12],
                                        ["Queen's bishop pawn (c4)", 10],
                                        ['Other', 3]
                                    ]*/
                        );
                        var options = {
                            chart: {
                                title: 'Pages popularity',
                                subtitle: 'Number of visits per page'
                            }
                        };

                        var chart = new google.charts.Bar(document.getElementById('top_pages'));
                        chart.draw(data, google.charts.Bar.convertOptions(options));
                    };
                }
            }
    }
        refreshWidgetPages();


    </script>